body{ /*Aquí se coloca una imagen de fondo cocreteramente molona.*/
	background-color: coral;
}
#portada{/*Actúa como #envoltorio de la página Portada*/
	background-color: #FAEBD7;
	width: 75%;
	margin: 0 auto;
}
#portada img{ /*Portada Apartado I*/
	box-sizing: border-box;
	width: 100%;
	justify-content: center;
}
.avisoLegal{/*La clase avisoLegal se aplica al footer.*/
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	clear: both;
}
#envoltorio{/*Actúa como #envoltorio de las página  de Índice y Contenido.*/
	background-color: #FAEBD7;
	width: 90%;
	margin: auto;
	overflow: auto;
}
#envoltorio header{ /*Índice Apartado I*/
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 2px;
	border: 2px solid black;
	/*Pruebas*/
	text-align: center;
	font-size: 32px;
	background-color: yellow;
}
#envoltorio #menu nav{ /*Navegador horizontal, justo debajo del header. Aquí estará el índice con las diferentes partes del texto.*/
	box-sizing: border-box;
	width: 100%;
	clear: both;
	margin: 0 auto 2px;
	/*Pruebas*/
	background-color: #FAEBD7;
	font-size: 25pt;
	font-family: Verdana;
	text-align: center;
	border: 2px solid black;
}
#envoltorio main{ /* Índice Apartado II: El main contiene al índice.*/
	box-sizing: border-box;
	width: 80%;
	float: left;
	/*Pruebas*/
	background-color: red;
	justify-content: center;
}
#envoltorio aside{ /* Índice Apartado IV: Hueco para un video y publicidad molestas.*/
	box-sizing: border-box;
	width: 20%;
	float: right;
	/*Pruebas*/
	background-color: green;
}
.publicidad{/*Clase para tunear la publicidad del lateral derecho. Aplicarlo al aside.*/

}
#envoltorio aside video{/*El vídeo molesto*/
	box-sizing: border-box;
	overflow: auto;
}
#centrarMain{
	clear: both;
}
#carruselIzq {/*Aplicar al aside izq del carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: left;
	width:5%;
}
#carruselDer {/*Aplicar al aside der del carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: right;
	width:5%;
}
