body{ /*Aquí se coloca una imagen de fondo cocreteramente molona.*/
	background-color: coral;
}
/*colores #FCC8B2 #685369 #EFA48B #DBD8B3*/

.avisoLegal{/*La clase avisoLegal se aplica al footer.*/
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	clear: both;
}
#envoltorio{/*Actúa como #envoltorio de las página  de Índice y Contenido.*/
	background-color: #FAEBD7;
	width: 90%;
	margin: auto;
	overflow: auto;
}
#envoltorio header{ /*Índice Apartado I*/
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 2px;
	border: 2px solid black;
	
	text-align: center;
	font-size: 32px;
	/*background-color: yellow;*/
}
#envoltorio header #color{
	background-color: #51101E;
}
.menu{ /*Navegador horizontal, justo debajo del header y se aplica al nav. Aquí estará el índice con las diferentes partes del texto.*/
	box-sizing: border-box;
	width: 100%;
	clear: both;
	margin: 0 auto 2px;
	/*Pruebas*/
	background-color: #FAEBD7;
	font-size: 25pt;
	font-family: Verdana;
	text-align: center;
	border: 2px solid black;
}
.menu .color{

}
#envoltorio main{ /* Índice Apartado II: El main contiene al índice.*/
	box-sizing: border-box;
	width: 79%;
	float: left;
	margin: 0.5%;
	/*Pruebas
	background-color: red;
	justify-content: center;*/
}
#envoltorio main #color{
	color: #5a401f;
}
#envoltorio main #jamon #texto{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/croquetasdejamon.jpg");
	background-position: center left,center bottom;

}
.lis{
	display: inline-block;
}
	
#envoltorio main #jamon video{
display: block;
width: 525px;
position: relative;
left: 20px;
top: 45px;
}
#envoltorio main #puchero #texto1{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/pucherofondo.jpg");
	background-position: center;

}
#envoltorio main #puchero video{
	display: block;
	width: 525px;
	position: relative;
	left: 20px;
	top: 245px;
	}

#envoltorio main #pollo #texto2{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	border-radius: 10%;
	float: left;
	background-image: url("img/pollofondo1.jpg") ;
	background-repeat: no-repeat;
	background-position: center ;
	
} 
#envoltorio main #pollo video{
	display: block;
	width: 525px;
	position: relative;
	left: 20px;
	top: 260px;
	}
#envoltorio main #pollo img{
	display: block;
	width: 525px;
	position: relative;
	left: 20px;
	top: 300px;
}	
.titulo{
	font-family: "Lobster-Regular";
	word-spacing: 1px;
}
.subtitulo{
	font-family: "Lobster-Regular";
}
#envoltorio .publicidad{ /* Índice Apartado IV: Hueco para un video y publicidad molestas. Se coloca en el aside.*/
	box-sizing: border-box;
	width: 19%;
	margin: 0.5%;
	float: right;
	/*Pruebas
	background-color: green;*/
}
#envoltorio aside video{/*El vídeo molesto*/
	box-sizing: border-box;
	overflow: auto;
}


