

@font-face{
	src: url("img/Lobster/Lobster-Regular.ttf");
	font-family: "Lobster-Regular";
}
@font-face{
	src: url("img/fuente/RumRaisin-Regular.ttf");
	font-family: "RumRaisin-Regular";
}
@font-face{
	src: url("img/fuente1/SourceSansPro-Regular.ttf");
	font-family: "SourceSansPro-Regular";
}



.colorspan{
	color: rgb(0, 0, 238);
}
#envoltorio header #color{
	background-color: #86615C;
	white-space: nowrap;
}

.menu .color{
	background-color: rgb(160, 90, 65);
	font-size: 20pt;
	
}

#envoltorio main #color{
	color: black;
	background-color: rgb(216, 141, 43);
}
#envoltorio main #jamon #texto{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/croquetasdejamon.jpg");
	background-position: center left,center bottom;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
.lis{
	display: inline-block;
}
	
#envoltorio main #jamon video{
display: block;
width: 35%;
float: right;
margin-bottom:30%;
margin-top: 6%;
margin-right: 4%;
}
#envoltorio main #puchero #texto1{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/pucherofondo.jpg");
	background-position: center;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
#envoltorio main #puchero video{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:30%;
	margin-top: 6%;
	margin-right: 4%;
	}

#envoltorio main #pollo #texto2{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 2%;
	border-radius: 10%;
	float: left;
	background-image: url("img/pollofondo1.jpg") ;
	background-repeat: repeat ;
	background-position: center ;
	text-shadow: white 1px 1px 1px;
	font-size: 12.5pt;
	font-family: "SourceSansPro-Regular";
} 
#envoltorio main #pollo video{
	display: block;
	width: 35%;
	float: right;
	margin-bottom:30%;
	margin-top: -15%;
	margin-right: 4%;
	/*left: 15%;
	top: 50%;*/
	}
#envoltorio main #pollo img{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:2%;
	margin-top: -25%;
	margin-right: 4%;
}	
.titulo{
	font-family: "Lobster-Regular";
	word-spacing: 1px;
}
.subtitulo{
	font-family: "RumRaisin-Regular";
}



