/*Posicionamiento*/
@font-face{
	src: url("img/Lobster/Lobster-Regular.ttf");
	font-family: "Lobster-Regular";
}
@font-face{
	src: url("img/fuente/RumRaisin-Regular.ttf");
	font-family: "RumRaisin-Regular";
}
@font-face{
	src: url("img/fuente1/SourceSansPro-Regular.ttf");
	font-family: "SourceSansPro-Regular";
}
a{
	text-decoration: none;
}
#portada{/*Actúa como #envoltorio de la página Portada*/
	background-color: #FAEBD7;
	width: 75%;
	margin: 0 auto;
}
#portada img{ /*Portada Apartado I*/
	box-sizing: border-box;
	width: 100%;
	justify-content: center;
}
.avisoLegal{/*La clase avisoLegal se aplica al footer.*/
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	width: 100%;
	text-align: center;
	clear: both;
}
#envoltorio{/*Actúa como #envoltorio de las página  de Índice y Contenido.*/
	background-image: url('img/madera1.jpg');
	width: 90%;
	margin: auto;
	overflow: auto;
}
#envoltorio header{ /*Índice Apartado I*/
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 2px;
	border: 2px solid black;
	/*Pruebas*/
	text-align: center;
	font-size: 32px;
	background-color: yellow;
	
}
.menu nav{ /*Navegador horizontal, justo debajo del header y se aplica al nav. Aquí estará el índice con las diferentes partes del texto.*/
	box-sizing: border-box;
	width: 100%;
	clear: both;
	margin: 0 auto 2px;
	/*Pruebas*/
	/*background-color: #FAEBD7;
	font-size: 25pt;
	font-family: Verdana;
	text-align: center;
	border: 2px solid black;*/
}
#envoltorio main{ /* Índice Apartado II: El main contiene al índice.*/
	box-sizing: border-box;
	width: 79%;
	float: left;
	margin: 0.5%;
	/*Pruebas*/
	/*background-color: red;
	justify-content: center;*/
}
#envoltorio .publicidad{ /* Índice Apartado IV: Hueco para un video y publicidad molestas. Se coloca en el aside.*/
	position: -webkit-sticky;
  	top: 0;
	box-sizing: border-box;
	width: 19%;
	margin: 0.5%;
	float: right;
	/*Pruebas*/
	/*background-color: green;*/
}
.publicidad img{/*Define el espacio a ocupar por las imágenes de publicidad.*/
	width: 100%;
}
.publicidad video{/*Define el espacio a ocupar por el video publicitario.*/
	width: 100%;
} 
#carrusel{/*Actua como envoltorio para la página de carrusel, que requiere de otras dimensiones.*/
	background-color: #FAEBD7;
	width: 80%;
	margin: auto;
	overflow: auto;
	/*Pruebas*/
	/*padding: 1%;*/
}
#carruselIzq {/*Aplicar al aside izq del carrusel. Por fuera del envolotori #carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: left;
	width: 5%;
}
#carruselDer {/*Aplicar al aside der del carrusel. Por fuera del envolotori #carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: right;
	width: 5%;
}

/*Selectores del Índice, elaborado Manuel Caro Delgado*/
.fondoBody{
	background-image: url('img/manelazul.jpg');
}
.superIndex {
	padding-right: 13%;
}
.index  {
	text-align: center;
	font-family: "RumRaisin-Regular";
	width: 110%;
	height: 80%;
	bottom: 100%;
	/*background-color: rgb(235, 64, 52);*/
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	background-color: red;
	border: solid 2px black;

}
.fuenteIndex{
	text-decoration: none;
	font-family: "RumRaisin-Regular";
	font-size: 15pt;
	color: #000;
	height: 80%;
	padding-right: 25%;

}
.imagenMain{
	background-image: url(img/fond.jpg);
	background-size: cover;
}
/*Selectores de Recetas, elaborado por Christian Payo*/
 .fondoChristian{
 	background-image: url('img/mantel.jpg');
 }
.colorspan{
	color: rgb(0, 0, 238);
}
#envoltorio header #color{
	background-color: #86615C;
	white-space: nowrap;
}

.menu #menuColor{
	background-color: rgb(160, 90, 65);
	font-size: 20pt;
	text-align: center;

}

#envoltorio main #color{
	color: black;
	background-color: rgb(216, 141, 43);
}
#envoltorio main #jamon #texto{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/croquetasdejamon.jpg");
	background-position: center left,center bottom;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
.lis{
	display: inline-block;
}

#envoltorio main #jamon video{
	display: block;
	width: 35%;
	float: right;
	margin-bottom:30%;
	margin-top: 6%;
	margin-right: 4%;
}
#envoltorio main #puchero #texto1{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/pucherofondo.jpg");
	background-position: center;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
#envoltorio main #puchero video{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:30%;
	margin-top: 6%;
	margin-right: 4%;
}

#envoltorio main #pollo #texto2{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 2%;
	border-radius: 10%;
	float: left;
	background-image: url("img/pollofondo1.jpg") ;
	background-repeat: repeat ;
	background-position: center ;
	text-shadow: white 1px 1px 1px;
	font-size: 12.5pt;
	font-family: "SourceSansPro-Regular";
} 
#envoltorio main #pollo video{
	display: block;
	width: 35%;
	float: right;
	margin-bottom:30%;
	margin-top: -15%;
	margin-right: 4%;
	/*left: 15%;
	top: 50%;*/
}
#envoltorio main #pollo img{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:2%;
	margin-top: -25%;
	margin-right: 4%;
}	
.titulo{
	font-family: "Lobster-Regular";
	word-spacing: 1px;
}
.subtitulo{
	font-family: "RumRaisin-Regular";
}
