/*Posicionamiento*/

#fonCar{
	width: 100%;
	background-color: rgb(95, 43, 0);
}

#portada1{ /*Aquí se coloca una imagen de fondo cocreteramente molona.*/
	background-image: url("img/fondococina.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: 0;
}

@font-face{
	src: url("img/Lobster/Lobster-Regular.ttf");
	font-family: "Lobster-Regular";
}
@font-face{
	src: url("img/fuente/RumRaisin-Regular.ttf");
	font-family: "RumRaisin-Regular";
}
@font-face{
	src: url("img/fuente1/SourceSansPro-Regular.ttf");
	font-family: "SourceSansPro-Regular";
}

@font-face{
	font-family: 'Orange juice';
	src: url('orange-juice/orangejuice.ttf');
 }

 @font-face{
	font-family: 'Garden Sans';
	src: url('Garden_Sans/Garden_Sans.ttf');
 }

#portada{/*Actúa como #envoltorio de la página Portada*/
	background-image: url("img/madera1.jpg");
	box-shadow: 0px 0px 30px;
	border-radius: 150px 150px 200px 200px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
#portada #imag{ /*Apartado I*/
	box-sizing: border-box;
	margin: 0 auto;	
	width: 40%;
	border-style: solid;	
	border-width: 2px;
	border-color:rgb(95, 43, 0);
	border-radius: 300px; 
	background-image: url("img/manelazul.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	/*box-shadow: 1px 1px 10px brown;*/
}

#portada #titulo h1{
	width: 40%;
	background-image: url("img/manelazul.jpg");
	background-size: 565px;
	font-family: "Orange juice";
	font-size: 80px;
	margin: 0 auto;
	border: 30px;
	border-style: hidden groove hidden groove;
	border-color:rgb(95, 43, 0);
	border-radius: 200px;
}

#portada #imag a img{ /*Apartado I*/
	box-sizing: border-box;
	border-radius: 300px;
	width: 99.9%;
}

#portada #imag:hover{ /*Apartado I*/
	border-radius: 270px;
	border-style: dashed;
	border-color:rgb(95, 43, 0);
	box-shadow: 1px 1px 90px black;
}

#portada #titulo:hover h1{ /*Apartado I*/
	box-shadow: 0px 0px 20px;
}

footer{/*Apartado II*/
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: "Garden Sans";
	border: 0.1px solid black;
	width: 95%;
	clear: both;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.63);
	box-shadow: 0px 0px 2px black; 
}

.avisoLegal{/*La clase avisoLegal se aplica al footer.*/
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	clear: both;
}
#envoltorio{/*Actúa como #envoltorio de las página  de Índice y Contenido.*/
	background-image: url('img/madera1.jpg');
	width: 90%;
	margin: auto;
	overflow: auto;
}
#envoltorio header{ /*Índice Apartado I*/
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 2px;
	border: 2px solid black;
	/*Pruebas*/
	text-align: center;
	font-size: 32px;
	background-color: yellow;
	
}
.menu{ /*Navegador horizontal, justo debajo del header y se aplica al nav. Aquí estará el índice con las diferentes partes del texto.*/
	box-sizing: border-box;
	width: 100%;
	clear: both;
	margin: 0 auto 2px;
	/*Pruebas*/
	/*background-color: #FAEBD7;
	font-size: 25pt;
	font-family: Verdana;
	text-align: center;
	border: 2px solid black;*/
}
#envoltorio main{ /* Índice Apartado II: El main contiene al índice.*/
	box-sizing: border-box;
	width: 79%;
	float: left;
	margin: 0.5%;
	/*Pruebas*/
	/*background-color: red;
	justify-content: center;*/
}
#envoltorio .publicidad{ /* Índice Apartado IV: Hueco para un video y publicidad molestas. Se coloca en el aside.*/
	position: sticky;
	top: 0;
	box-sizing: border-box;
	width: 19%;
	margin: 0.5%;
	float: right;
	/*Pruebas*/
	/*background-color: green;*/
}
.publicidad img{/*Define el espacio a ocupar por las imágenes de publicidad.*/
	width: 100%;
}
.publicidad video{/*Define el espacio a ocupar por el video publicitario.*/
	width: 100%;
} 
#carrusel{/*Actua como envoltorio para la página de carrusel, que requiere de otras dimensiones.*/
	background-color: #FAEBD7;
	width: 80%;
	margin: auto;
	overflow: auto;
	/*Pruebas*/
	/*padding: 1%;*/
}
#carruselIzq {/*Aplicar al aside izq del carrusel. Por fuera del envolotori #carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: left;
	width: 5%;
}
#carruselDer {/*Aplicar al aside der del carrusel. Por fuera del envolotori #carrusel.*/
	box-sizing: border-box;
	overflow: auto;
	float: right;
	width: 5%;
}

/*Selectores del Índice, elaborado Manuel Caro Delgado*/
.fondoBody{
	background-image: url('img/manelazul.jpg');
}
.superIndex {
	padding-right: 13%;
}
.index  {
	text-align: center;
	width: 110%;
	height: 80%;
	bottom: 100%;
	/*background-color: rgb(235, 64, 52);*/
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	background-color: red;
	border: solid 2px black;

}
.fuenteIndex{
	text-decoration: none;
	font-family: Verdana;
	font-size: 15pt;
	color: #000;
	height: 80%;
	padding-right: 25%;

}
.imagenMain{
	background-image: url(img/fond.jpg);
}
/*Selectores de Recetas, elaborado por Christian Payo*/
.colorspan{
	color: rgb(0, 0, 238);
}
#envoltorio header #color{
	background-color: #86615C;
	white-space: nowrap;
}

.menu .color{
	background-color: rgb(160, 90, 65);
	font-size: 20pt;
	
}

#envoltorio main #color{
	color: black;
	background-color: rgb(216, 141, 43);
}
#envoltorio main #jamon #texto{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/croquetasdejamon.jpg");
	background-position: center left,center bottom;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
.lis{
	display: inline-block;
}

#envoltorio main #jamon video{
	display: block;
	width: 35%;
	float: right;
	margin-bottom:30%;
	margin-top: 6%;
	margin-right: 4%;
}
#envoltorio main #puchero #texto1{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 3%;
	margin: 3px;
	border-radius: 10%;
	float: left;
	background-image: url("img/pucherofondo.jpg");
	background-position: center;
	text-shadow: white 1px 1px 1px;
	font-family: "SourceSansPro-Regular";
}
#envoltorio main #puchero video{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:30%;
	margin-top: 6%;
	margin-right: 4%;
}

#envoltorio main #pollo #texto2{
	width: 50%;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	padding: 2%;
	border-radius: 10%;
	float: left;
	background-image: url("img/pollofondo1.jpg") ;
	background-repeat: repeat ;
	background-position: center ;
	text-shadow: white 1px 1px 1px;
	font-size: 12.5pt;
	font-family: "SourceSansPro-Regular";
} 
#envoltorio main #pollo video{
	display: block;
	width: 35%;
	float: right;
	margin-bottom:30%;
	margin-top: -15%;
	margin-right: 4%;
	/*left: 15%;
	top: 50%;*/
}
#envoltorio main #pollo img{
	display: block;
	width: 35%;
	/*position: relative;*/
	float: right;
	margin-bottom:2%;
	margin-top: -25%;
	margin-right: 4%;
}	
.titulo{
	font-family: "Lobster-Regular";
	word-spacing: 1px;
}
.subtitulo{
	font-family: "RumRaisin-Regular";
}

#carruselIzqPuchero{
	background-image: url("img/flores_de_chipirones.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -500px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerPuchero{
	background-image: url("img/imagen_croqueta_de_jamon.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselIzqJam{
	background-image: url("img/croquetas_de_puchero.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -500px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerJam{
	background-image: url("img/croqueta_de_langostino.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselIzqLang{
	background-image: url("img/imagen_croqueta_de_jamon.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -500px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerLang{
	background-image: url("img/croquetas_de_pollo.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselIzqPollo{
	background-image: url("img/croqueta_de_langostino.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -500px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerPollo{
	background-image: url("img/croqueta_de_jamon1.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselIzqJam1{
	background-image: url("img/croquetas_de_pollo.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -490px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerJam1{
	background-image: url("img/flores_de_chipirones.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselIzqFlor{
	background-image: url("img/croqueta_de_jamon1.jpg");
	background-position-x: -490px;
	background-size: 600px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 5%;
	height: 600px;
	margin-right: 20px;
	border: 2px hidden;
	border-radius: 0px 20px 20px 0;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.596);
}

#carruselDerFlor{
	background-image: url("img/croquetas_de_puchero.jpg");
	background-position-x: -100px;
	background-size: 600px;
	background-repeat: no-repeat;
	background-position-x: -100px;
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 5%;
	height: 600px;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.596);
}

#menuCarrusel img{
	width: 10%;
}

#menuCarrusel img#lang{
	width: 9.9%
}

#menuCarrusel img:hover{
	box-shadow: 0px 0px 10px rgba(167, 158, 132, 0.836);
	border-radius: 2px;
}

#menuCarrusel img#lang:hover{
	box-shadow: 0px 0px 10px rgba(167, 158, 132, 0.836);
}

.carruselder:hover{
	width: 7%;
	background-position-x: -490px;

}

.carruselizq:hover{
	width: 7%;
	background-position-x: 30px;
}

#carruselIzqPuchero:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerPuchero:hover{
	width: 7%;
	background-position-x: -90px;
}

#carruselIzqJam:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerJam:hover{
	width: 7%;
	background-position-x: -90px;
}

#carruselIzqLang:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerLang:hover{
	width: 7%;
	background-position-x: -90px;
}

#carruselIzqPollo:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerPollo:hover{
	width: 7%;
	background-position-x: -90px;
}

#carruselIzqJam1:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerJam1:hover{
	width: 7%;
	background-position-x: -90px;
}

#carruselIzqFlor:hover{
	width: 7%;
	background-position-x: -480px;
}

#carruselDerFlor:hover{
	width: 7%;
	background-position-x: -90px;
}

#carrusel{/*Actua como envoltorio para la página de carrusel, que requiere de otras dimensiones.*/
	background-color: #FAEBD7;
	width: 80%;
	margin: auto;
	overflow: auto;
	/*Pruebas*/
	padding: 1%;
}



#carrusel main #imagen{
	width: 100%;
}
#carrusel main #imagen img{
	width: 100%;
	text-align: center
}

